{% extends "base.html.twig" %}

{% block central %}

    <!-- page start-->
    <div class="col-12">
        <section class="panel">
            <div class="chat-room-head">
                <h3><i class="fa fa-angle-right"></i> Gérer les personnes</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-advance table-hover">
                    <thead>
                    <tr class="tableau-entete">
                        <th><i class="fa fa-bullhorn"></i> Identifiant</th>
                        <th><i class="fa fa-bookmark"></i> Nom</th>
                        <th><i class="fa fa-bookmark"></i> Prénom</th>
                        <th><i class="fa fa-bookmark"></i> Adresse mail</th>
                        <th><i class="fa fa-bookmark"></i> Téléphone</th>
                        <th><i class="fa fa-bookmark"></i> Rue</th>
                        <th><i class="fa fa-bookmark"></i> Ville</th>
                        <th><i class="fa fa-bookmark"></i> Code postal</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {{ include('messages.html.twig') }}

                        <!-- formulaire pour ajouter une nouvelle personne-->
                        <tr>
                            <form action="{{path('personnes_ajouter')}}" method="post">
                                <td>Nouveau</td>
                                <td>
                                    <input type="text" id="txtNomPersonne" name="txtNomPersonne" size="20" required minlength="3"  maxlength="32"  placeholder="Nom" title="De 3 à 32 caractères"  />
                                </td>
                                <td>
                                    <input type="text" id="txtPrenomPersonne" name="txtPrenomPersonne" size="20" required minlength="3"  maxlength="20"  placeholder="Prénom" title="De 3 à 20 caractères"  />
                                </td>
                                <td>
                                    <input type="text" id="txtMailPersonne" name="txtMailPersonne" size="30" required minlength="11"  maxlength="50"  placeholder="Mail" title="exemple@domaine.exe"  />
                                </td>
                                <td>
                                    <input type="text" id="txtTelPersonne" name="txtTelPersonne" size="10" required minlength="10"  maxlength="10"  placeholder="Tel" title="De 6 caractères"  />
                                </td>
                                <td>
                                    <input type="text" id="txtRuePersonne" name="txtRuePersonne" size="25" required minlength="9"  maxlength="36"  placeholder="Rue" title="De 9 à 36 caractères"  />
                                </td>
                                <td>
                                    <input type="text" id="txtVillePersonne" name="txtVillePersonne" size="20" required minlength="3"  maxlength="30"  placeholder="Ville" title="De 9 à 36 caractères"  />
                                </td>
                                <td>
                                    <input type="text" id="txtCPPersonne" name="txtCPPersonne" size="5" required minlength="5"  maxlength="5"  placeholder="CP" title="De 5 caractères"  />
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs" type="submit" name="cmdAction" value="ajouterNouvellePersonne" title="Enregistrer nouvelle personne"><i class="fa fa-save"></i></button>
                                    <button class="btn btn-info btn-xs" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i></button>
                                </td>
                            </form>
                        </tr>

                        {% for key, personne in tbPersonnes %}
                            <tr>
                                <!-- formulaire pour modifier et supprimer les personnes-->
                                <form method="post">
                                    <td>{{ personne.identifiant }}<input type="hidden"  name="txtIdPersonne" value="{{ personne.identifiant }}" /></td>
                                    <td>
                                    {% if personne.identifiant != idPersonneModif %}
                                        {{ personne.nom }}
                                        </td>
                                        <td>
                                            {{personne.prenom}}
                                        </td>
                                        <td>
                                            {{personne.mail}}
                                        </td>
                                        <td>
                                            {{personne.tel}}
                                        </td>
                                        <td>
                                            {{personne.rue}}
                                        </td>
                                        <td>
                                            {{personne.ville}}
                                        </td>
                                        <td>
                                            {{personne.CP}}
                                        </td>
                                        <td>
                                            {% if notification != 'rien' and personne.identifiant == idPersonneNotif %}
                                                <button class="btn btn-success btn-xs"><i class="fa fa-check"></i> {{ notification }}</button>
                                            {% endif %}
                                            <button class="btn btn-primary btn-xs" type="submit" name="cmdAction" value="demanderModifierPersonne" title="Modifier" formaction="{{path('personnes_demanderModifier')}}"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs" type="submit" name="cmdAction" value="supprimerPersonne" title="Supprimer" formaction="{{path('personnes_supprimer')}}" onclick="return confirm('Voulez-vous vraiment supprimer cette personne ?');"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    {% else %}
                                        <input type="text" id="txtNomPersonne" name="txtNomPersonne" size="20" required minlength="3"  maxlength="32" value="{{ personne.nom }}" />
                                        </td>
                                        <td>
                                            <input type="text" id="txtPrenomPersonne" name="txtPrenomPersonne" size="20" required minlength="3"  maxlength="20" value="{{ personne.prenom }}" />
                                        </td>
                                        <td>
                                            <input type="text" id="txtMailPersonne" name="txtMailPersonne" size="30" required minlength="11"  maxlength="50" value="{{ personne.mail }}" />
                                        </td>
                                        <td>
                                            <input type="text" id="txtTelPersonne" name="txtTelPersonne" size="10" required minlength="10"  maxlength="10" value="{{ personne.tel }}" />
                                        </td>
                                        <td>
                                            <input type="text" id="txtRuePersonne" name="txtRuePersonne" size="25" required minlength="9"  maxlength="36" value="{{ personne.rue }}" />
                                        </td>
                                        <td>
                                            <input type="text" id="txtVillePersonne" name="txtVillePersonne" size="20" required minlength="3"  maxlength="30" value="{{ personne.ville }}" />
                                        </td>
                                        <td>
                                            <input type="text" id="txtCPPersonne" name="txtCPPersonne" size="5" required minlength="5"  maxlength="5" value="{{ personne.CP }}" />
                                        </td>
                                        <td>
                                            <button class="btn btn-primary btn-xs" type="submit" name="cmdAction" value="validerModifierPersonne" title="Enregistrer" formaction="{{path('personnes_validerModifier')}}"><i class="fa fa-save"></i></button>
                                            <button class="btn btn-info btn-xs" type="reset" title="Effacer la saisie"><i class="fa fa-eraser"></i></button>
                                            <button class="btn btn-warning btn-xs" type="submit" name="cmdAction" value="annulerModifierPersonne" title="Annuler" formaction="{{path('personnes_afficher')}}"><i class="fa fa-undo"></i></button>
                                        </td>
                                    {% endif %}
                                </form>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- fin div panel-body-->
        </section><!-- fin section personnes-->
    </div><!--fin div col-12-->

{% endblock %}
